/* line 12, output/css/grid.css */
.grid_1 {
  width: 40px;
}

/* line 12, output/css/grid.css */
.grid_2 {
  width: 100px;
}

/* line 12, output/css/grid.css */
.grid_3 {
  width: 160px;
}

/* line 12, output/css/grid.css */
.grid_4 {
  width: 220px;
}

/* line 12, output/css/grid.css */
.grid_5 {
  width: 280px;
}

/* line 12, output/css/grid.css */
.grid_6 {
  width: 340px;
}

/* line 12, output/css/grid.css */
.grid_7 {
  width: 400px;
}

/* line 12, output/css/grid.css */
.grid_8 {
  width: 460px;
}

/* line 12, output/css/grid.css */
.grid_9 {
  width: 520px;
}

/* line 12, output/css/grid.css */
.grid_10 {
  width: 580px;
}

/* line 12, output/css/grid.css */
.grid_11 {
  width: 640px;
}

/* line 12, output/css/grid.css */
.grid_12 {
  width: 700px;
}

/* line 12, output/css/grid.css */
.grid_13 {
  width: 760px;
}

/* line 12, output/css/grid.css */
.grid_14 {
  width: 820px;
}

/* line 12, output/css/grid.css */
.grid_15 {
  width: 880px;
}

/* line 12, output/css/grid.css */
.grid_16 {
  width: 940px;
}

/* line 22, output/css/grid.css */
.row {
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
}
/* line 26, output/css/grid.css */
.row .row {
  margin: 0 -10px;
  width: auto;
  display: inline-block;
}

/* line 31, output/css/grid.css */
.column {
  float: left;
  margin: 0 10px;
  overflow: hidden;
  display: inline;
}
